header {
  margin-top: 20px;
}

h1 {
  display: inline;
}

i {
  padding-right: 5%;
}

.full-w{
    width: 100%;
}
.fix-progress {
  align-content: center;
  align-items: center;
  padding-right: 0.6%;
}

.icon-list {
  justify-content: flex-end;
}

i + i {
  margin-left: 5px;
}
